{% extends 'base.html' %}

{% block main %}

{# demo3的登录 #}
{#
<div class="container">
    <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱📪：</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入邮箱📪" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码：</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" name="password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">记住密码
            </label>
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
</div>
#}

{# demo4的登录 #}
<div class="container">
    {#<form class="form-horizontal" action="{{ url_for('login') }}" method="post">#}
    <form class="form-horizontal" action="{{ url_for('user.login') }}" method="post">
        <div class="form-group">
            {% for error in get_flashed_messages() %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱📪：</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="请输入邮箱📪" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码：</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码" name="password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox">记住密码
            </label>
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
</div>

{% endblock %}